
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #054E05;
  }
  
  h2 {
    color: rgb(0, 0, 0);
  }
  
  footer {
    background-color: #054E05;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "roboto";
    color: black;
  }
  
  a {
    color: inherit !important;
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  body {
    background-color:  #724632;
    font-family: "roboto";
    color: rgb(0, 0, 0);
  }
  
  /* Inicio de clases */
  
  /* nav */
  
  .logo-img {
    width: 150px;
    height: 150px;
  }
  
  .nav-item {
  color:black
  }
  
  .nav-item:hover {
    transform: scale(1.2);
    transition: all 0.3s;
  }
  
   /* contenido */
  .main-content {
    background-color: #724632;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .quienes-somos {
    max-width: 800px;
    text-align: center;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 782px;
  }
  
  .card {
    background-color: #724632;
    border: solid 2px;
    width: 270px;
    margin: 25px;
  }
  
  .card img {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  
  .img-svg {
    width: 18px;
    height: 18px;
  }
  
  .pag2 {
    text-align: center;
    margin-top: 50px;
  }
  
  .sesion {
    text-align: center;
    width: 500px;
    background-color: grey;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.25rem;
    transition: all 0.375s;
    padding: 50px;
  }
  .sesion h2{
    font-size: 36px;
    font-weight: 600 ;
    margin: 0 0 30px;
  }
  
  .sesion h3 {
    color: rgba(0, 0, 0, 0.38);
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 1rem;
  } 
  .inicio-form{
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
  
  }
  
  .inicio-form input, .inicio-form button {
    width: 50%;
    height: 50px;
  }
  
  .inicio-form input {
    border: 2px solid #ebebeb;
    width: 80%;
    font-size: 15px;
    padding: 0 16px;
    border-radius: 1.25rem;
    transition: all 0.375s;
    margin: auto;;
  }
  .inicio-form input :hover{
    border: 2px solid #000000;
  }
  .inicio-form button {
    cursor: pointer;
    width: 60%;
    padding: 0 16px;
  border-radius: 1.25rem;
  background: #1f1f1f;
  color: #f9f9f9;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s; 
  margin: auto;
  
  }
  .inicio-form button:hover{
  background: #000000 ;   
  
  }
  
  .inicio-form .pr:hover {
  color: #10449A;
  
  }
  
  .contac {
    padding: 30px;
    display: flex;
    justify-content: space-between;
  
  }
  
  .contac img {
    width: 120px;
    height: 120px;
  }
 
  .redes {
    margin-right: 10%;
  }
  
  .mandar {
  margin-left: 10%;
  padding: 10%;
  }
  .contact-form input :hover{
    border: 2px solid #000000;
  }
  
  .contact-form button {
    cursor: pointer;
    width: 80px;
    padding: 0 16px;
  border-radius: 1.25rem;
  background: #1f1f1f;
  color: #f9f9f9;
  border: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s; 
  
  }
  .contact-form button:hover{
  background: #000000 ;   
  
  }
  
  /* footer */
  
  .footer{
    display: flex;
    align-items:start;
    padding: 100px;
    justify-content: space-evenly;
  }
  .futer-form{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    transition: all 0.375s;
  }
  
  .futer-form input :hover{
    border: 2px solid #000000;
  }
  .futer-form button {
    cursor: pointer;
    width: 100%;
    padding: 0 16px;
  border-radius: 1.25rem;
  background: #1f1f1f;
  color: #f9f9f9;
  border: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s; 
  
  }
  .futer-form button:hover{
  background: #000000 ;   
  
  }